<div class="checkout-box">
  <ul>
    <app-checkout-item></app-checkout-item>
    <app-checkout-item></app-checkout-item>
    <app-checkout-item></app-checkout-item>
    <app-checkout-item></app-checkout-item>
  </ul>
  <hr/>
  <div class="float-right inline w-50 p-10 m-b-30">
    <div id="total-cost-area" class="inline w-100">
      <p>360</p>
      <p class="m-r-40">Total</p>
    </div>
    <div class="buttons-box-hor mt-10 w-100">
      <div class="column-vertical">
        <button class="white-button w-95 fs-14" type="submit">
          Back
        </button>
      </div>
      <div class="column-vertical">
        <button class="green-button w-95 fs-14" type="submit">
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
