<div class="checkout-box">
  <ul>
    <app-checkout-item *ngFor="let certificate of certificates" [certificate]="certificate"></app-checkout-item>
  </ul>
  <div class="float-right inline w-70 p-10 m-b-30">
    <div id="total-cost-area" class="inline w-100">
      <p>$ {{calculateTotalPrice()}}</p>
      <p class="m-r-40">Total</p>
    </div>
    <div class="buttons-box-hor mt-10 w-100">
      <div class="column-vertical">
        <button class="w-95 fs-14" mat-raised-button color="white"
                (click)="goBack()">
          Back
        </button>
      </div>
      <div class="column-vertical">
        <button class="w-95 fs-14"
                mat-raised-button color="accent"
                (click)="onCheckout()"
                *ngIf="!emptyCart()">
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
