<nav class="navbar">
  <button id="scrollToTopBtn" class="scroll_btn">Top</button>
  <button id="restoreBtn" class="scroll_btn">Back</button>
  <div class="navbar-container">
    <div class="navbar-container nav-logo-menu">
      <div class="navbar-container nav-menu-button">
        <input id="menu_toggle" type="checkbox"/>
        <label class="menu_btn" for="menu_toggle">
          <span></span>
        </label>
        <ul class="menu_box">
          <li><a class="menu_item" href="#">Certificates</a></li>
          <li><a class="menu_item" href="#">Tags</a></li>
          <li><a class="menu_item" href="#">Orders</a></li>
          <li><a class="menu_item" href="#">Users</a></li>
        </ul>
      </div>
      <div class="logo navbar-container">
        <a href="#">
          <img src="img/logo.jpg" alt="Logo" width="40" height="40">
        </a>
      </div>
    </div>

    <app-search-bar></app-search-bar>
    <div class="navbar-container">
      <div class="nav-right-menu">
        <ul>
          <li>
            <a href="#" id="tokenShowBtn" class="material-symbols-outlined">favorite</a>
          </li>
          <li>
            <a href="#" id="tokenRemoveBtn" class="material-symbols-outlined">shopping_cart</a>
          </li>
          <li>
            <a href="login.html">Login</a>
            |
            <a href="register.html">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<hr/>
<div class="container">
  <div class="container-box-horizontal w-100 h-100 m-t-auto" id="cards-container">
    <div class="top-stripe p-t-5" id="topStripe">
      <div class="category-container">
        <ul id="tagsSection">
        </ul>
      </div>
    </div>
    <div class="cards-box" id="cards-box-item">
    </div>
  </div>
</div>
