<div class="item-card">
    <div class="w-100 h-60 bg-grey"></div>
    <div class="it-left-section" >
      <p class="text-left mt-10">Coupon name</p>
      <p class="mt-3 text-muted text-left fs-10">
        Some brief description
      </p>
      <p class="mt-15 text-left">
        $235
      </p>
    </div>
    <div class="it-right-section">
      <a href="#" class="material-symbols-outlined">favorite</a>
      <p class="text-muted mt-3">Expires in N days</p>
      <button class="mt-10">Add to cart</button>
    </div>
  </div>
