<div class="top-stripe p-t-5" id="topStripe">
  <div class="category-container">
    <ul id="tagsSection">
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
      <app-category-box></app-category-box>
    </ul>
  </div>
</div>
