<div class="container-box">
  <form class="login-box" method="post">
    <input type="email" name="email" id="email" placeholder="Login"
           minlength="4" maxlength="45"
           required="true" class="mt-20 fs-18">
    <input type="password" name="password" id="password" placeholder="Password"
           required="true" class="fs-18"
           minlength="8" maxlength="64">
    <button class="green-button w-80 fs-18" type="submit" id="submitLogin">
      Login
    </button>
  </form>
</div>
