.search-bar {
  background: #ffffff;
  display: flex;
  border-radius: 1px;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  height: 70%;
  border: 1px rgb(128, 128, 128) solid;
  margin-top: 10px;
  margin-left: 270px;
  margin-right: 150px;
}

.search-bar input {
  padding: 10px 25px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

#select {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  background: white;
  align-items: center;
  color: black;
  width: 120px;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  padding: 0 15px;
  border-radius: 1px;
  border: 1px rgb(128, 128, 128) solid;
  min-width: 120px;
}

#select ul {
  position: absolute;
  top: 120%;
  left: 0;
  list-style: none;
  background: white;
  color: black;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#select ul.open {
  max-height: 300px;
}

#select ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  min-width: 700px;
  margin: 3px;
  height: 60px;
}

.nav-search-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

