<div class="navbar-container nav-search-box">
  <div class="search-bar">
    <input type="text" placeholder="Search by">
    <div id="select">
      <p id="selectedText">All categories</p>
      <ul id="categories">
        <li class="search-item" value="All">
          All
        </li>
        <li class="search-item" value="Name">Name</li>
        <li class="search-item" value="Description">Description</li>
        <li class="search-item" value="Tags">Tags</li>
      </ul>
    </div>
  </div>
</div>
