<div class="container">
  <div class="container-box-horizontal mb-0 w-100 h-100">
    <div class="top-stripe p-32-px p-l-23">
      Checkout
    </div>
    <div class="checkout-box">
      <ul>
        <li>
          <div class="checkout-item">
            <div class="checkout-item-img">
            </div>
            <div class="w-80 h-100 p-10">
              <h4>
                Coupon Name
              </h4>
              <h5 class="m-t-10">
                Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                previewing layouts and visual mockups.
              </h5>
            </div>
            <div class="price-box">
              $200
            </div>
          </div>
        </li>
        <li>
          <div class="checkout-item">
            <div class="checkout-item-img">
            </div>
            <div class="w-80 h-100 p-10">
              <h4>
                Coupon Name
              </h4>
              <h5 class="m-t-10">
                Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                previewing layouts and visual mockups.
              </h5>
            </div>
            <div class="price-box">
              $120
            </div>
          </div>
        </li>
        <li>
          <div class="checkout-item">
            <div class="checkout-item-img">
            </div>
            <div class="w-80 h-100 p-10">
              <h4>
                Coupon Name
              </h4>
              <h5 class="m-t-10">
                Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                previewing layouts and visual mockups.
              </h5>
            </div>
            <div class="price-box">
              $40
            </div>
          </div>
        </li>
      </ul>
      <hr/>
      <div class="float-right inline w-50 p-10 m-b-30">
        <div id="total-cost-area" class="inline w-100">
          <p>360</p>
          <p class="m-r-40">Total</p>
        </div>
        <div class="buttons-box-hor mt-10 w-100">
          <div class="column-vertical">
            <button class="white-button w-95 fs-14" type="submit">
              Back
            </button>
          </div>
          <div class="column-vertical">
            <button class="green-button w-95 fs-14" type="submit">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
