
<div class="container">
  <div class="container-box-horizontal">
    <div class="top-stripe">
      Register
    </div>
    <form class="form-box" method="post">
      <div class="column-vertical p-t-50">
        <label for="login-name">Login Name</label>
        <input type="text" name="login-name" id="login-name"
               minlength="4" maxlength="45"
               pattern="^(?=.{4,45}$)([\w-\.]{1,})+@([\w-]+\.)+([\w-]{2,4})$"
               required="" class="fs-18">
        <label for="password">Password</label>
        <input type="password" name="password" id="password"
               required="" class="fs-18"
               minlength="8" maxlength="64">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"
               minlength="4" maxlength="45"
               pattern="^(?=.{4,45}$)([\w-\.]{1,})+@([\w-]+\.)+([\w-]{2,4})$"
               required="" class="fs-18">
      </div>
      <div class="column-vertical p-t-50">
        <label class="text-left" for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name"
               minlength="1" maxlength="45"
               pattern="^(?=.{4,45}$)([\w-\.]{1,})+@([\w-]+\.)+([\w-]{2,4})$"
               required="" class="fs-18">
        <label for="repeat-password">Repeat password</label>
        <input type="password" name="rep-password" id="repeat-password"
               required="" class="fs-18"
               minlength="8" maxlength="64">
        <label for="address">Address</label>
        <input type="text" name="address" id="address"
               required="" class="fs-18"
               minlength="5" maxlength="64">
        <div class="buttons-box-hor">
          <div class="column-vertical p-t-10">
            <button class="white-button m-l-35 fs-18" type="submit">
              Cancel
            </button>
          </div>
          <div class="column-vertical p-t-10">
            <button class="green-button m-r-35 fs-18" type="submit">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
