<div class="dropdown">
  <button (click)="toggleDropdown()">Toggle Dropdown</button>
<!--  <ul *ngIf="isDropdownOpen">-->
    <div class="dropdown-menu-header" *ngIf="isDropdownOpen">Search by</div>
    <div class="dropdown-menu-list">
      <label class="dropdown-menu-item">
        <input type="radio" name="item" value="All" checked>
        <span>All</span>
      </label>
      <label class="dropdown-menu-item">
        <input type="radio" name="item" value="Name">
        <span>Name</span>
      </label>
      <label class="dropdown-menu-item">
        <input type="radio" name="item" value="Description">
        <span>Description</span>
      </label>
      <label class="dropdown-menu-item">
        <input type="radio" name="item" value="Tags">
        <span>Tags</span>
      </label>
    </div>
  <!--</ul>-->
</div>
