<div class="card h-60 w-15 mt-3 m-l-50 float-left bg-white">
  <h3>{{certificate.name}}</h3>
  <h5 class="p-t-10 font-light fs-16 h-40">{{certificate.description.substring(0, 150)}}</h5>
  <div class="h-40 bg-white m-t-auto">
    <p class="text-muted text-bold text-left fs-14 mt-15">Time left to buy</p>
    <p class="text-left text-bold fs-16">{{certificate.duration}} days</p>
    <p class="text-bold text-left fs-18 mt-15 price-section">{{certificate.price | priceFormat}}
      <a (click)="onAddToCart()" *ngIf="checkLogin()" role="button">
        Add to cart
        <span class="material-symbols-outlined color-black">shopping_cart</span>
      </a>
    </p>
  </div>
</div>
<div class="container-box-horizontal w-60 h-25 mt-30 m-l-35">
  <h4 class="title fs-18">Item detailed description</h4>
  <p class="title mt-3">{{certificate.description}}</p>
</div>
