


/* *** GLOBAL *** */
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.bg-white-grey {
  background-color: #f2f2f2;
}
